@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dog Daze</h1>
    <p class="lead">Dog Daze is a WebApp that allows you to track a dogs behavior.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Please log in to get started.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44329/Account/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add a dog to track.</h2>
        <p>Adding a dog let's you keep tabs on their behavior over time, so you can make adjustments to their daily regimin. </p>
        <p><a class="btn btn-default" href="https://localhost:44329/Dog/Create">Add Dog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Events</h2>
        <p>Tracking the events of your dog allows you to know your dog is being cared for.</p>
        <p><a class="btn btn-default" href="https://localhost:44329/Event/Index">View event list &raquo;</a></p>
    </div>
</div>